

<figure>
    <div class="book" data-book=""><img class="" src="<%= thumbnail %>"></div>
    <div class="buttons">
        <a href="#"class="btn" id="deets" data-toggle="modal" data-target="#deetsModal">Look inside</a>
        <a class="infoOpen" href="#">Info</a>
    </div>
    <figcaption>
        <h2><%= title %><span><%= author %></span></h2>
    </figcaption>

    <div class="details">
        <ul>
            <li><a href="#" class="gn-icon gn-icon-article" id="deets" data-toggle="modal" data-target="#deetsModal">Look inside</a></li>
            <li>published <%= publishedDate %></li>

            <%if (pageCount != "") { %>
            <li><%= pageCount %> pages</li>
            <% } %>


        </ul>
        <span class="close-details"></span>
    </div>
</figure>